{% extends 'base.html' %}
{% load i18n %}
{% load form_utils %}
{% block content %}
    {% include 'breadcrumb.html' with title='Visualizar' subtitle='' link1='Model' link2='Visualizar' %}
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="box box-primary" style="margin-top: 30px;">
            <div class="box-header">
                <h3 class="box-title">
                    <center style="font-size: 20px;">Visualizar</center>
                </h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        {% for key, val in object|get_fields %}
                            <dl>
                                <dt>{{ key }}</dt>
                                <dd>{{ val }}</dd>

                            </dl>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="box box-footer">
                <div class="actions">
                    <div class="col-md-4 col-md-offset-2">
                        <a class="btn btn-default pull-left" href="{{ list_reversed_url }}">
                            Voltar
                        </a>
                    </div>
                    {% if update_object_reversed_url %}
                        <a class="btn btn-primary pull-right" href="{{ update_object_reversed_url }}">
                            Editar
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#model').addClass('active');
                $('#model-list').addClass('active');
            });
        </script>
    </section>

{% endblock %}
